<!DOCTYPE html>
<html>
  <head>
    <title>CoderRabbit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |note| %>
          <h3 id="errors"><%= note %></h3>  
      <% end %>
    <% end %>
    <% if flash[:notice] %>
      <h3><%= flash[:notice] %></h3>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
